<section id="charts" class="container">
  <h1>My Business Models</h1>
  <div class="row">
    <div class="col-sm-4">
      <article class="chart new_chart">
        <div class="vcenter">
          <%= fa_icon "plus-circle", text: "Add New Model" %>
        </div>
      </article>
    </div>
    <div class="col-sm-4">
      <article class='chart <%= "chart-#{cycle(1, 2, 3, 4, 5, 6)}" %>'>
        <div class="vcenter">
          Social Matrimony
        </div>
      </article>
    </div>
    <div class="col-sm-4">
      <article class='chart <%= "chart-#{cycle(1, 2, 3, 4, 5, 6)}" %>'>
        <div class="vcenter">
          College Report
        </div>
      </article>
    </div>
    <div class="col-sm-4">
      <article class='chart <%= "chart-#{cycle(1, 2, 3, 4, 5, 6)}" %>'>
        <div class="vcenter">
          Puzzler
        </div>
      </article>
    </div>
    <div class="col-sm-4">
      <article class='chart <%= "chart-#{cycle(1, 2, 3, 4, 5, 6)}" %>'>
        <div class="vcenter">
          Code Astra
        </div>
      </article>
    </div>
  </div>
</section>
