<div id="chart" class="container-fluid">
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
      <header>
        <h1><%= @chart.title %></h1>
      </header>
    </div>
    <div class="col-xs-1"></div>
  </div>

  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-2 canvas-box" id="key_partnerships">
      <%= chart_cell_content(@chart, :key_partnerships) %>
    </div>
    <div class="col-xs-2">
      <div id="key_activities" class="canvas-box">
        <%= chart_cell_content(@chart, :key_activities) %>
      </div>
      <div id="key_resources" class="canvas-box">
        <%= chart_cell_content(@chart, :key_resources) %>
      </div>
    </div>
    <div class="col-xs-2 canvas-box" id="value_propositions">
      <%= chart_cell_content(@chart, :value_propositions) %>
    </div>
    <div class="col-xs-2">
      <div id="customer_relationships" class="canvas-box">
        <%= chart_cell_content(@chart, :customer_relationships) %>
      </div>
      <div id="channels" class="canvas-box">
        <%= chart_cell_content(@chart, :channels) %>
      </div>
    </div>
    <div class="col-xs-2 canvas-box" id="customer_segments">
      <%= chart_cell_content(@chart, :customer_segments) %>
    </div>
    <div class="col-xs-1"></div>
  </div>
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-5 canvas-box" id="cost_structure">
      <%= chart_cell_content(@chart, :cost_structure) %>
    </div>
    <div class="col-xs-5 canvas-box" id="revenue_streams">
      <%= chart_cell_content(@chart, :revenue_streams) %>
    </div>
    <div class="col-xs-1"></div>
  </div>

  <%= render "charts/edit_modals" %>
</div>